/*  google fonts :
    font-family: 'Quicksand', sans-serif;
    font-family: 'Shadows Into Light', cursive;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(30deg,#85f5fd, #e593a1);
    font-family: 'Quicksand', sans-serif;
    color: rgb(65, 38, 57);
    min-height: 100vh;
}

header {
    font-size: 18px;
}

header, form {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

form input, form button {
    padding: 8px;
    background: white;
    border: none;
    
}
form button {
    font-size:20px;
    font-weight: 900;
    color: #9c2639;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #993f4e;
    color: white;
}

form input {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

